.rbc-toolbar {
    display: flex;
}

.rbc-toolbar button {
    padding: 5px 10px;
    cursor: pointer;
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .rbc-toolbar .rbc-toolbar-label {
        margin: 10px;
    }
}

@media (max-width: 350px) {
    .prev {
        padding: 0px !important;
    }
}
@media (max-width: 290px) {
    .prev {
        display: none !important;
    }
}

/* Calendar CSS For Scheduler */
.rbc-header{
    background-color: #e73f2b;
    color: white;
}
.rbc-header.rbc-today{
    background-color: rgb(0, 179, 0)!important;
}
.rbc-allday-cell{
    display: none;
}
.rbc-event-label{
    display: none!important;
}
.rbc-event{
    border: rgb(75, 255, 59) 1px solid!important;
    color:black!important
}
.rbc-agenda-table{
    color: black!important;
}
.rbc-events-container{
    margin-right: 6px!important;
    margin-left: 6px!important;
    border: 0!important;
}
.rbc-time-gutter{
    background-color: white;
    border-bottom: rgb(90, 90, 90) 1px solid!important;
    color: black;
}
.rbc-timeslot-group{
    padding: 0 6px!important;
}
.rbc-toolbar{
    margin: 0!important;
    border-radius: 16px 16px 0 0;
}
.rbc-agenda-date-cell{
    background-color: white;
    color: black;
}
.rbc-agenda-content{
    color: white;
}
.rdp-chevron{
    fill: rgb(231 63 43 / var(--tw-text-opacity, 1))!important;
}

.rdp-today:not(.rdp-outside){
    color: rgb(231, 63, 43)!important;
}

.rdp-selected .rdp-day_button{
    border: 2px solid rgb(231, 63, 43)!important;
}

.cross-icon {
    position: relative;
    color: #e73f2b;
  }
  
  .rbc-slot-selection {
    background-color: #D8F5B6 !important; /* light green with transparency */
  }