.swiper-button-prev {
    color: #ef4444 !important;
}

.swiper-button-next {
    color: #ef4444 !important;
}

.swiper-pagination-bullet {
    background-color: white !important;

}

.swiper-pagination-bullet-active {
    background-color: #ef4444 !important;
}

.dropDown {
    z-index: 9999999999999999999 !important;
}

.category-section {
    position: sticky;
    background: white;
    top: 90px;
    z-index: 1;
}

.category {
    position: relative !important;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px) !important;
}

.category-section.category-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
}

.category .swiper-button-prev,
.category .swiper-button-next {
    position: absolute !important;
    color: black !important;
    background-color: white;
    backdrop-filter: blur(5px) !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 61%;
    transform: translateY(-50%);
    z-index: 1;
}


.category .swiper-button-prev {
    margin-right: 20px;
}


.category .swiper-button-next::after,
.category .swiper-button-prev::after{
    content: "";
}

.category.music-categories .swiper-button-next,
.category.music-categories .swiper-button-prev {
    margin: 0;
    top: 50%
}
.category.music-categories .swiper-button-next,
.testimonial-swiper-wrap .testimonial-swiper-button-next {
    right: 0;
}
.category.music-categories .swiper-button-prev,
.testimonial-swiper-wrap .testimonial-swiper-button-prev{
    left: 0;
}
.testimonial-swiper-wrap .testimonial-swiper-button-prev,
.testimonial-swiper-wrap .testimonial-swiper-button-next {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}
.testimonial-swiper-wrap .swiper-pagination{
    height: 16px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.testimonial-swiper-wrap .custom-bullet{
    width: 16px;
    height: 16px;
    background-color: #A8A5A7 !important;
    border-radius: 100%;
    opacity: .2;
    cursor: pointer;
}
.testimonial-swiper-wrap .custom-bullet.active-bullet{
    opacity: 1;
}