@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');

html,
body {
  /* padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}

/*
@layer components {
  .button {
    @apply px-4 py-2 shadow-lg border rounded-full cursor-pointer hover: shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
} */

.smallScrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

.smallScrollbar::-webkit-scrollbar-thumb {
  background-color: #88888832;
  border-radius: 100px;
}

.smallScrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 100px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: 5px 5px 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 5px 5px;
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: #fff;
  border-bottom-color: #fff;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 5px;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-group > .card {
  margin-bottom: 15px;
}

.custom-tabs .ant-tabs-tab {
  min-width: 79px !important;
  height: 35px !important;
  border-radius: 100px !important;
  margin: 0 5px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Inter, sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.custom-tabs .ant-tabs-tab-active {
  background: #261f22 !important;
  color: white !important;
  border: none !important;
}

.custom-tabs .ant-tabs-tab:not(.ant-tabs-tab-active) {
  background: white !important;
  border: 2px solid black !important;
  color: black !important;
}

.custom-tabs .ant-tabs-ink-bar {
  display: none !important;
}

.section-spacing{
  @apply px-4 md:px-6 lg:px-8;
}
.section-heading{
  @apply [font-family:'DM_Sans',sans-serif] text-[40px] md:text-5xl font-bold text-center leading-[48px] md:leading-[56px] text-[#261f22]
}


#classes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1350px) {
  #classes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  #classes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  #classes-grid {
    grid-template-columns: 1fr;
  }
}

.ant-tabs-tab {
  font-size: 16px !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff0000 !important;
}
.ant-tabs-nav-wrap{
  justify-content: center !important;
}

.ant-tabs-ink-bar {
  height: 4px !important;
  background-color: #ff0000 !important;
}
.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #ff0000 !important; /* Change to your desired hover color */
}

.swiper {
  width: 100%;
  height: 100%;
}

.rdp-range_start .rdp-day_button {
  background-color: rgb(231, 63, 43) !important;
  font-weight: 200 !important;
  font-size: 15px !important;
  border: none !important;
}

.rdp-range_end .rdp-day_button {
  background-color: rgb(231, 63, 43) !important;
  font-weight: 200 !important;
  font-size: 15px !important;
}

.rdp-range_middle .rdp-day_button {
  font-weight: 350 !important;
  font-size: 15px !important;
}

.rdp-selected .rdp-day_button{
  border: none !important;
}

.rdp-root{
  --rdp-accent-background-color: #e8e8e8 !important
}

.rdp-caption_label {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: 0;
  justify-content: center;
  width: 100%;
}

.rdp-nav{
  width: 100% !important;
  justify-content: space-between !important;
}

.rdp-button_previous{
  position: absolute;
}

.searchable-select input{
  @apply !shadow-none;
}
.search-bar-wrapper{
  @apply grid grid-cols-[minmax(0,_2fr)_1px_minmax(0,_2.5fr)] gap-1 relative h-full;
}
.search-bar-option{
  @apply flex flex-col justify-center w-full py-2 md:py-3 px-6 relative rounded-full transition duration-500 cursor-pointer overflow-hidden;
}
.search-bar-option .search-hover{
  @apply opacity-0 absolute inset-0;
}
.clear-search-icon{
  @apply text-black flex justify-center items-center size-4 rounded-full absolute top-1/2 -translate-y-1/2 right-3 hover:bg-gray-100;
}
.search-options-separator{
  @apply z-10 shrink-0 w-px bg-gray-300 my-3;
}
.search-bar-option:hover + .search-options-separator{
  @apply opacity-0;
}
.search-options-separator:has(+ .search-bar-option:hover) {
  @apply opacity-0;
}
.active-bg{
  @apply bg-white rounded-[32px] absolute top-px transition-all duration-300;
}
.active-bg{
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0, rgba(0, 0, 0, 0.08) 0 1px 2px 0;
}
.search-wrap-bg{
  @apply absolute top-0 left-0 w-full h-full border border-gray-200 rounded-[100px];
}
.search-wrap-bg.default{
  @apply bg-white;
}
.search-wrap-bg.default{
  box-shadow: rgba(0,0,0,0.1) 0 3px 12px 0,rgba(0,0,0,0.02) 0 0 0 1px;
}
.search-wrap-bg.active-search{
  @apply bg-[#EBEBEB] opacity-0;
}
.menu-dropdown{
  @apply absolute top-14 md:top-16 w-full bg-white text-sm rounded-2xl md:rounded-[28px] px-2 md:px-4 py-4 md:py-6 z-50 mt-1 md:mt-3;
}
.menu-dropdown{
    filter: drop-shadow(0 2px 6px rgba(0,0,0,0.14));
}

.menu-dropdown ul li{
  @apply cursor-pointer hover:text-red-500 transition;
}

.cropper{
  height: 600px;
}

@media (max-width: 768px) {
  .cropper{
    height: 500px;
    width: 500px;
  }
}
@media (max-width: 500px) {
  .cropper{
    height: 500px;
    width: 280px;
  }
}
@media (max-height: 650px) {
  .cropper{
    height: 500px;
  }
}

@media (max-width: 450px) {
  .scheduleButton {
    position: fixed;
    bottom: 0;
    width: 90%;
  }
}

@layer base {
  .form-checkbox {
    color: #ef4444; /* Tailwind red-500 */
  }
  [type='checkbox']:checked{
    background-color: rgb(231, 63, 43) !important;
  }
}